{% extends 'base.html'%}

{% block content %}
<div class="container">
<div class="row">
 <!-- displaying  Username -->
  <div class="col-md-4">
    <h3> {{user.username| capitalize}} </h3>

     <!-- Displaying user bio --> -->
     {% if user.bio %}
      <p> {{user.bio}}</p>
    {%else%}
      <p> {{user.username| capitalize}} has no bio </p>
    {% endif %}
  </div>

  <!-- Display profile photo -->
  <div class="col-md-4">

    {% if user.profile_pic_path %}
    <img src="{{url_for('static',filename=user.profile_pic_path)}}" alt="" class="img-thumbnail">
    {%else%}
    <p>No profile picture</p>
    {% endif %} 
  
  
      {% if user == current_user %}
        <a href="{{url_for('main.update_profile',uname=user.username)}}">Edit profile</a>
    {% endif %}
    
                {% if user == current_user %}
            <form  action="{{url_for('main.update_pic',uname=user.username)}}" method="post" enctype = "multipart/form-data">
        
              <input type="file"  name="photo" class="form-control" required>
              <input type="submit">
            </form>
              {% endif %}
    </div>

</div>
<div class="row">
{% for blog in blogs_content %}
<div class="col-md-6">
  <div class="thumbnail text-center">
  <h5 class="card-header">{{blog.title}}</h5>
  <h5 class="card-header">{{blog.category}}</h5>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <h2>{{blog.description}}</h2>
      <footer class="blockquote-footer"> Posted by {{blog.user.username}}</footer>
    </blockquote>
    
    <a href="{{url_for('main.new_comment',blog_id = blog.id)}}" class="btn btn-info"> Add a comment</a>
    <a href="{{url_for('main.delete_blog',blog_id = blog.id)}}" class= "btn btn-info"><i></i>DeleteBlog</a>
    <a href="{{url_for('main.update_blog',blog_id = blog.id)}}" class= "btn btn-info"><i></i>UpdateBlog</a>
  </div>
</div>
</div>
{% endfor %}
</div>   

</div>
{% endblock %} 